<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tp Anual</title>
    <link rel="stylesheet" href="./styles.css">
      <link rel="icon" type="image/png" href="/user.svg"/>
  </head>

  <body>
    <header class="flex-between">
        <a href="/" class="flex-between">
          <img src="logo.svg" alt="Logo de la Pagina">
          <h1>Impacto Ambiental</h1>
        </a>
        <a href="./signin" class="seccion">
            Iniciar Sesion
        </a>
    </header>
        <div id="main-section">
            {{#block "content"}}
            {{/block}}
        </div>
    <footer class="flex-center">
      <p>Test</p>
    </footer>
  </body>
</html>
