{{#partial "navbar-options"}}
    <a class="seccion" href="/recomendaciones">Recomendaciones</a>
    <a class="seccion" href="/home/vinculacion">Solicitar vinculacion</a>
    <a class="seccion" href="/home/trayectos">Trayectos</a>
{{/partial}}

{{#partial "usuario"}}
    {{usuario}}
{{/partial}}
{{#partial "content"}}
    <div id="tarjetas">
        <div class="tarjetaRecomendacion">
            <h3>in reprehenderit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi est sit amet facilisis magna etiam tempor orci. Convallis tellus id interdum velit laoreet. Sagittis nisl rhoncus mattis rhoncus urna.</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>agittis ali</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Nisi est sit amet facilisis magna etiam
            tempor orci. Convallis tellus id interdum velit laoreet. Sagittis nisl rhoncus mattis
            rhoncus urna.</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>m viverra aliquet.</h3>
            <p>Vitae suscipit tellus mauris a diam maecenas sed enim ut.</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>estie nunc </h3>
            <p>Tempus egestas sed sed risus pretium quam vulputate.
            Mi quis hendrerit dolor magna eget est lorem ipsum dolor.
            Tortor vitae purus faucibus ornare suspendisse sed nisi lacus.
            Mauris ultrices eros in cursus turpis. Arcu odio ut sem nulla.
            Tellus molestie nunc non blandit massa enim nec dui.
                Mauris ultrices eros in cursus turpis. Arcu odio ut sem nulla.
                Tellus molestie nunc non blandit massa enim nec dui.
                Vitae suscipit tellus mauris a diam maecenas sed enim ut..</p>
        </div>
    </div>
{{/partial}}

{{>home-iniciado-sesion.hbs}}