{{#partial "navbar-options"}}
    <a class="seccion" href="/recomendaciones">Recomendaciones</a>
    <a class="seccion" href="/home/vinculacion">Solicitar vinculacion</a>
    <a class="seccion" href="/home/trayectos">Trayectos</a>
{{/partial}}

{{#partial "content"}}
    <h2>Bienvenido Miembro {{usuario}}</h2>
{{/partial}}

{{>home-iniciado-sesion.hbs}}