{{#partial "navbar-options"}}
    <a class="seccion" href="/recomendaciones">Recomendaciones</a>
    <a class="seccion" href="/home/vinculacion">Solicitar vinculacion</a>
    <a class="seccion" href="/home/trayectos">Trayectos</a>
{{/partial}}

{{#partial "usuario"}}
    {{usuario}}
{{/partial}}
{{#partial "content"}}
    <div id="tarjetas">
        <div class="tarjetaRecomendacion">
            <h3>Titulo 1</h3>
            <p>Parrafo</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>Titulo 1</h3>
            <p>Parrafo</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>Titulo 1</h3>
            <p>Parrafo</p>
        </div>
        <div class="tarjetaRecomendacion">
            <h3>Titulo 1</h3>
            <p>Parrafo</p>
        </div>
    </div>
{{/partial}}

{{>home-iniciado-sesion.hbs}}