{{#partial "navbar-options"}}
    <a class="seccion" href="/recomendaciones">Recomendaciones</a>
    <a class="seccion" href="/home/vinculacion">Solicitar vinculacion</a>
    <a class="seccion" href="/home/trayectos">Trayectos</a>
{{/partial}}

{{#partial "content"}}
    <div class="mejorar">

    <form class="scroll-box gap" action="/home/trayectos/registro/tramo-nuevo" method="POST">
        <div class="scroll-box">
            <label for="tipo-transporte" class="paragraph-header">Tipo Transporte</label>
            <input list="tipo-transportes" id="tipo-transporte" name="tipo-transporte" >
            <datalist id="tipo-transportes">
                {{#each tipotransportes}}
                    <option value="{{lineaUtilizada.nombre}}"></option>
                {{/each}}
            </datalist>
        </div>

        <div class="scroll-box">
            <p class="paragraph-header">Punto de Partida</p>
            <label for="localidad-partida">Localidad id</label>
            <input id="localidad-partida" name="localidad-partida">

            <label for="calle-partida">Calle</label>
            <input id="calle-partida" name="calle-partida">

            <label for="altura-partida">Altura</label>
            <input id="altura-partida" name="altura-partida">
        </div>
        <div class="scroll-box">
            <p class="paragraph-header">Punto de Llegada</p>
            <label for="localidad-llegada">Localidad id</label>
            <input id="localidad-llegada" name="localidad-llegada">

            <label for="calle-llegada">Calle</label>
            <input id="calle-llegada" name="calle-llegada">

            <label for="altura-llegada">Altura</label>
            <input id="altura-llegada" name="altura-llegada">
        </div>
        {{#if tramoIncorecto}}
                <p style="color: red">El tramo Ingresado es incorrecto</p>
            {{/if}}
        <div class="flex-center gap">

            <a class="btn-consulta" href="/home/trayectos/registro">
            Volver
            </a>
            <button  class="btn-consulta">
                Cargar
            </button>

        </div>

    </form>

    </div>

{{/partial}}

{{>home-iniciado-sesion.hbs}}